{% extends "layout_misc.html" %}
{% block mainbody %}

    <div class="container">

      <div class="page-header">
        <h1>Misc</h1>
        <p class="lead">Network science is one of the main research fields studied in laboratories in all over the world.</p>
      </div>
      
      <div class="row">
        <div class="col-md-8">

	  <h3>Wikipedia</h3>
	  <ul>
	    <li><a href="https://en.wikipedia.org/wiki/Complex_network">Complex Network</a></li>
	  </ul>
	  
	  
	  <h3>Network Literacy</h3>
	  <ul>
	    <li><a href="https://sites.google.com/a/binghamton.edu/netscied/teaching-learning/network-concepts">Network Literacy Home Page</a></li>
	  </ul>

	  <h3>PyCX</h3>
	  <p>PyCX is a python script suit initially built by Professor Sayama of the State University of New York at Binghamton.</p>
	  <ul>
	    <li><a href="pycx">PyCX</a></li>
	    <li><a href="http://pycx.sourceforge.net/">PyCX (Original web page)</a></li>
	  </ul>
	  
	</div>
		
        <div class="col-md-4">
	</div>
      </div>
      
      <hr>

    </div> <!-- /container -->
{% endblock %}
