{% extends "layout_network_sci.html" %}

{% block headerbody %}

   <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
     TeX: {
     equationNumbers: { autoNumber: "AMS" },
     extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
     }
     });
   </script>
     
   <script type="text/javascript" async
	   src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <!-- D3.js -->
    <script src="/static/js/d3.min.js"></script>

    <!-- jsnetworkx.js -->
    <script src="/static/js/jsnetworkx.js"></script>
   
{% endblock %}
   
{% block mainbody %}

    <div class="container">

      <div class="page-header">
        <p class="lead">Network Science Basics</p>
        <h1>Distance between Nodes</h1>
      </div> <!-- /page-header -->

    </div> <!-- /container -->
    
    <div class="container">
      <div class="row">
	<div class="col-md-4">
	  
	  <p>The number of edges between the start node and the destination node is called the "distance" between the nodes. The property of the distance depends on how the nodes in the network are connected (the network topology).</p>

	  <hr>

	  <h4>Regular Lattice</h4>

	  <p><a class="btn btn-primary" onclick="draw_lattice()" role="button">Generate!</a></p>
	  <p><a class="btn btn-primary" onclick="avr_path_lattice()" role="button">Average Distance</a></p>

	  <form name="path_length_for_lattice">
	    <div class="form-group">
	      <label for="sourceNodeLattie">From</label>
	      <input type="number" id="sourceNodeLattice" class="form-control">
	    </div>
	    <div class="form-group">
	      <label for="targetNodeLattice">To</label>
	      <input type="number" id="targetNodeLattice" class="form-control">
	    </div>
	    <p><a class="btn btn-warning" onclick="path_length_lattice()" role="button">Calculate the Distance</a></p>
	  </form>

	  <div id="path_length_lattice_answer"></div>
	  
	  <hr>

	  <h4>Scale-free Network</h4>

	  <p><a class="btn btn-success" onclick="draw_sf()" role="button">Generate!</a></p>	  
	  <p><a class="btn btn-success" onclick="avr_path_sf()" role="button">Average Distance</a></p>	  
	  
	  <form name="path_length_for_sf">
	    <div class="form-group">
	      <label>From</label>
	      <input type="number" name="sourceNodeSF" class="form-control">
	    </div>
	    <div class="form-group">
	      <label>To</label>
	      <input type="number" name="targetNodeSF" class="form-control">
	    </div>
	    <p><a class="btn btn-warning" onclick="path_length_sf()" role="button">Calculate the Distance</a></p>
	  </form>
	  
	  <div id="path_length_sf_answer"></div>
	  
	  <hr>
	    
	  <p><a class="btn btn-default" href="/net_sci_basics2/degree_distribution" role="button">&laquo; previous</a>
	  <a class="btn btn-default" href="/network_struct_top" role="button">next &raquo;</a></p>
	  
	</div> <!-- /col-md-4 -->

	<div class="col-md-8">
	  <div id="graph_name"></div>
	  
	  <div class="net_pic"></div>
	  
	  <div id="comment_region_sp" class="comment_region"></div>

	</div> <!-- /col-md-8 -->

      </div> <!-- /row -->
    </div>   <!-- /container -->

    <script type="text/javascript" src="{{ javascript_src }}" ></script>
    
{% endblock %}
