{% extends "layout_network_sci.html" %}
{% block mainbody %}

    <div class="container">

      <div class="page-header">
        <h1>Network Science?</h1>
        <p class="lead">Have you ever heard of a research field, "Network Science"?</p>
	<p class="lead">What is it for?</p>
      </div>
      
      <div class="row">
        <div class="col-md-8">
	  <h3>Networks are everywhere!</h3>
	  
	  <h4>Group A</h4>
	  <ul>
	    <li><a href="/show_jpg/microchip_series_2Poly.jpg">an Electrical Circuit as a Network</a></li>
	    <li><a href="/show_jpg/Worldcup_2006_final_ITA_FRA.jpg">Network formed by Passes in the Final Game of the FIFA World Cup 2006, Italy vs France</a></li>
	    <li><a href="/show_jpg/TokyoMetro.jpg">Network of Tokyo Metro</a></li>
	    <li><a href="/show_jpg/london_gps_trace.jpg">Road Network traced by GPS Downtown London</a></li>
	  </ul>
	  
	  <h4>Group B</h4>
	  <ul>
	    <li><a href="/show_jpg/2003-blackoutmap-copy.jpg">Blackout in North America on Aug 14, 2003</a></li>
	    <li><a href="/show_jpg/UAL_World_2014_07_01.jpg">World Flight Map of United Airlines</a></li>
	    <li><a href="/show_jpg/Zacharys_karate_club.jpg">Zachary's Karate Club</a></li>
	    <li><a href="/show_jpg/co_authorship_nw.jpg">Network formed by Co-authorship of Scientific Papers</a></li>
	    <li><a href="/show_jpg/sp_data_school_day_1_g.jpg">Social Network formed by Pupils of an Elementary School</a></li>
	    <li><a href="/show_jpg/brain_nw.jpg">Neuron Network of the Human Brain</a></li>
	    <li><a href="/show_jpg/internet_map.jpg">Network formed by Autonomous Systems on the Internet</a></li>
	    <li><a href="/show_jpg/www_nw.jpg">Linkage Network between Pages on the World Wide Web</a></li>
	    <li><a href="/show_jpg/tender.jpg">Network formed by an English Word "tender"</a></li>
	  </ul>
	  
	  <p>There is a difference between Group A and Group B. Can you guess?</p>
	  
	  <h3>Basics</h3>
	  <ul>
	    <li><a href="/net_sci_basics/points_and_lines">Nodes and Edges</a></li>
	    <li><a href="/net_sci_basics/lattice">Regular Lattices</a></li>
	    <li><a href="/net_sci_basics2/ba">Barabasi-Albert Model</a></li>
	    <li><a href="/net_sci_basics/scale_free">Scale-free Networks</a></li>
	    <li><a href="/net_sci_basics2/node_degree">Degree of Nodes</a></li>
	    <li><a href="/net_sci_basics2/degree_distribution">Degree Distribution</a></li>
	    <li><a href="/net_sci_basics2/shortest_path">Distance between Nodes</a></li>
	  </ul>

	  
	</div>
	
	
        <div class="col-md-4">
	</div>
      </div>
      
      <hr>

    </div> <!-- /container -->
{% endblock %}
