{% extends "layout_network_struct.html" %}

{% block headerbody %}

   <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
     TeX: {
     equationNumbers: { autoNumber: "AMS" },
     extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
     }
     });
   </script>
     
   <script type="text/javascript" async
	   src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <!-- D3.js -->
    <script src="/static/js/d3.min.js"></script>

    <!-- jsnetworkx.js -->
    <script src="/static/js/jsnetworkx.js"></script>
   
{% endblock %}
   
{% block mainbody %}

    <div class="container">

      <div class="page-header">
        <p class="lead">Structure of the Internet</p>
        <h1>Distance between Nodes in a Large Network</h1>
      </div> <!-- /page-header -->

    </div> <!-- /container -->
    
    <div class="container">
      <div class="row">
	<div class="col-md-4">
	  <p>When the total node number is relatively small, there is no large difference between the average node distances for regular lattices and scale-free networks. However, as the total node number increases, the descrepancy in the average node distances becomes prominent.</p>

	  <hr>

	  <h4>Regular Lattices</h4>

	  <h5>Choose the Total Node Number</h5>

	  <ul>
	    <li><a class="btn btn-default" onclick="make_lattice64()" role="button"> 64 </a></li>
	    <li><a class="btn btn-primary" onclick="make_lattice16384()" role="button"> 16384 </a></li>
	    <li><a class="btn btn-info" onclick="make_lattice65536()" role="button"> 65536 </a></li>
	  </ul>

	  <hr>
	  
	  <form name="path_length_for_lattice">
	    <div class="form-group">
	      <label for="sourceNodeLattie">From</label>
	      <input type="number" id="sourceNodeLattice" class="form-control">
	    </div>
	    <div class="form-group">
	      <label for="targetNodeLattice">To</label>
	      <input type="number" id="targetNodeLattice" class="form-control">
	    </div>
	    <p><a class="btn btn-warning" onclick="path_length_lattice()" role="button">Calculate the Distance</a></p>
	  </form>
	  
	  <hr>

	  <h4>Scale-free Networks</h4>
	  
	  <h5>Choose the Total Node Number</h5>

	  <ul>
	    <li><a class="btn btn-default" onclick="make_sf64()" role="button"> 64 </a></li>
	    <li><a class="btn btn-primary" onclick="make_sf16384()" role="button"> 16384 </a></li>
	    <li><a class="btn btn-info" onclick="make_sf65536()" role="button"> 65536 </a></li>
	  </ul>
	  
	  <hr>
	  
	  <form name="path_length_for_sf">
	    <div class="form-group">
	      <label>From</label>
	      <input type="number" name="sourceNodeSF" class="form-control">
	    </div>
	    <div class="form-group">
	      <label>To</label>
	      <input type="number" name="targetNodeSF" class="form-control">
	    </div>
	    <p><a class="btn btn-warning" onclick="path_length_sf()" role="button">Calculate the Distance</a></p>
	  </form>
	  
	  <div id="path_length_sf_answer"></div>
	  
	  <hr>
	    
	  <p><a class="btn btn-default" href="/network_struct_top" role="button">&laquo; previous</a>
	  <a class="btn btn-default" href="/network_struct/avr_path_length" role="button">next &raquo;</a></p>
	  
	</div> <!-- /col-md-4 -->

	<div class="col-md-8">
	  
	  <div id="graph_name"></div>
	  <div id="comment"></div>
	  
	  <div id="path_length_answer"></div>

	</div> <!-- /col-md-8 -->

      </div> <!-- /row -->
    </div>   <!-- /container -->

    <script type="text/javascript" src="{{ javascript_src }}" ></script>
    
{% endblock %}
