{% extends "layout_network_sci.html" %}

{% block headerbody %}

   <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
     TeX: {
     equationNumbers: { autoNumber: "AMS" },
     extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
     }
     });
   </script>
     
   <script type="text/javascript" async
	   src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

{% endblock %}
   
{% block mainbody %}

    <div class="container">

      <div class="page-header">
        <p class="lead">Networks are Everywhere!</p>
        <h1>{{ title }}</h1>
      </div> <!-- /page-header -->

    </div> <!-- /container -->
    
    <div class="container">
      <div class="row">
	<div class="col-md-4">
	  <p>{{ exp_text }}</p>
	</div> <!-- /col-md-4 -->

	<div class="col-md-8">
	  <p>
	    <img src={{ url_for_img_file }} width=700>
	  </p>
	</div> <!-- /col-md-8 -->

      </div> <!-- /row -->
    </div>   <!-- /container -->
{% endblock %}
