{% extends "layout_network_sci.html" %}

{% block headerbody %}

   <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
     TeX: {
     equationNumbers: { autoNumber: "AMS" },
     extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
     }
     });
   </script>
     
   <script type="text/javascript" async
	   src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <!-- D3.js -->
    <script src="/static/js/d3.min.js"></script>

    <!-- jsnetworkx.js -->
    <script src="/static/js/jsnetworkx.js"></script>
    
    <!-- Styles for network visualization -->
    <style>
      .node {
      stroke: #fff;
      stroke-width: 1.5px;
      }
      
      .link {
      stroke: #999;
      stroke-opacity: .6;
      }
    </style>
   
{% endblock %}
   
{% block mainbody %}

    <div class="container">

      <div class="page-header">
        <p class="lead">Network Science Basics</p>
        <h1>{{ title }}</h1>
      </div> <!-- /page-header -->

    </div> <!-- /container -->
    
    <div class="container">
      <div class="row">
	<div class="col-md-4">
	  <p>{{ side_text }}</p>

	  <hr>
	  
	  <p><a class="btn btn-default" href="{{ previous_page }}" role="button">&laquo; previous</a>
	  <a class="btn btn-default" href="{{ next_page }}" role="button">next &raquo;</a></p>
	  
	</div> <!-- /col-md-4 -->

	<div class="col-md-8">
	  <div class="net_pic"></div>
	  <script type="text/javascript" src="{{ javascript_src }}" ></script>
	</div> <!-- /col-md-8 -->

      </div> <!-- /row -->
    </div>   <!-- /container -->
{% endblock %}
