{% extends "layout_network_struct.html" %}
{% block mainbody %}

    <div class="container">

      <div class="page-header">
        <h1>Structure of the Internet</h1>
        <p class="lead">The structure of the Internet is classified as the scale-free network. An important property of the scale-free network is the "small-worldness". Let's examine it.</p>
      </div>
      
      <div class="row">
        <div class="col-md-12">
	  <h3>Degree Distribution of the Internet</h3>

	  <p>The Internet consists of 1.2 billion information devices interconnected with each other. The Internet is a typical scale-free network.</p>
	  <ul>
	    <li><a href="/show_jpg/internet_map.jpg">Network formed by Autonomous Systems on the Internet</a></li>
	    <li><a href="https://www.caida.org/research/topology/generator/">CAIDA (Center for Applied Internet Data Analysis)</a></li>
	  </ul>
	    
	  <h3>Oh! It's a small world!</h3>

	  <ul>
	    <li><a href="/network_struct/avr_path_trial">Let's try!!!</a></li>
	    <li><a href="/network_struct/avr_path_length">Average Distance</a></li>
	  </ul>
	  
	</div>
		
      </div>
      
      <hr>

    </div> <!-- /container -->
{% endblock %}
