{% extends "layout.html" %}
{% block mainbody %}

    <div class="container">

      <div class="page-header">
        <h1>PyCX</h1>
        <p class="lead">PyCX is a project initially built by Professor Sayama of the State University of New York in Binghamton and contains a lot of python scripts helpful for learning topics in complext systems.</p>
      </div>

      <div class="row">
        <div class="col-md-8">
	  <h3>Contents</h3>

	  <h4>Basic dynamical systems</h4>
	  <ul>
	    <li>logistic map</li> <!-- ds_logistic.py -->
	    <li>cobweb plot</li>  <!-- ds_cobwebplot.py -->
	    <li>bifurcation diagram</a></li> <!-- ds_bifurcationdiagram.py -->
	    <li>Lotka-Volterra equations</li> <!-- ds_lotka_volterra.py -->
	  </ul>

	  <h4>Cellular Automata</h4>
	  <ul>
	    <li>local majority rule</a></li> <!-- ca_majority.py -->
	    <li>droplet rule</li> <!-- ca_droplet.py -->
	    <li>Game of Life</li> <!-- ca_GoL.py -->
	    <li>Turing pattern formation</li> <!-- ca_turing.py -->
	    <li>excitable media</li>	      <!-- ca_excitablemedia.py -->
	    <li>host-pathogen interaction</li> <!-- ca_hostpathogen.py -->
	    <li>forest fire</li>	       <!-- ca_forestfire.py -->
	  </ul>

	  <h4>Agent-based models</h4>
	  <ul>
	    <li>random walk of particles</li> <!-- abm_randomwalk.py -->
	    <li>diffusion-limited aggregation</li> <!-- abm_DLA.py -->
	    <li>predator-prey ecosystem</li>	   <!-- abm_predatorprey.py, abm_redatorprey_withplot.py -->
	    <li>garbage collection by ants</li>	   <!--  -->
	    <li>aggregation of ants via pheromone-based communication</li> <!-- abm_ants.py, abm_ants_pheromone.py -->
	  </ul>

	  <h4>Dynamical networks</h4>
	  <ul>
	    <li>basic network construction and analysis</li> <!-- net- -->
	    <li>network growth by preferential attachment</li>
	    <li>local majority rule on a network</li>
	    <li>synchronization on a network based on the Kuramoto model</li> <!-- net_synchronization.py -->
	    <li>disease spreading on a network</li>
	    <li>cascade of failures on a network</li>
	  </ul>

	</div>


        <div class="col-md-4">
	  <h3>Side contents of PyCX</h3>

	</div>
      </div>

      <hr>

    </div> <!-- /container -->
{% endblock %}
